body {
  background-color: #DFDFDF;
}

.center {
  margin-top: 200px;
  margin-bottom: 150px;
}

.form {
  width: 50%;
  margin: 300px auto;
  text-align: center;
}

.form h4 {
  margin-bottom: 4%;
}

#button_input {
  margin-top: 2%;
  width: 30% !important;
}

#url_form input {
  width: 50%;
}
